:root {
    --darkbackground: rgb(102, 95, 95);
    --lightbackground: rgb(187, 180, 180);
    --lightfont: rgb(255, 255, 255);
    --darkfont: black;
    --hoverfont: gainsboro;
    --linkfont: white;
    --pagebackground: gray;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    position: absolute;
    background-color: var(--pagebackground);
}

.card h1 {
    font-size: 70px;
}

.card h2 {
    font-size: 50px;
}

@media screen and (max-width: 992px) {
    .card h1 {
        font-size: 50px;
    }

    .card h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .card h1 {
        font-size: 40px;
    }

    .card h2 {
        font-size: 25px;
    }
}

header {
    padding: 15px;
    background-color: var(--darkbackground);
    color: var(--lightfont);
    display: inline-block;
    width: 100%;
}

header img {
    float: left;
    height: 50px;
}

header ul {
    float: right;
    display: flex
}

header ul li {
    display: inline-block;
    margin-left: 50px;
    padding: 1px;
    color: var(--fontcolor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header ul li a {
    font-size: 20px;
    color: var(--lightfont);
    text-decoration: none;
    font-size: 30px;
}

header ul li a:visited {
    color: var(--lightfont);
}

header ul li a:hover {
    color: var(--hoverfont);
}

@media screen and (max-width: 992px) {
    header ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    header ul li a {
        font-size: 12px;
    }
}

p {
    font-size: 20px;
    padding: 30px;
}


@media screen and (max-width: 992px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

main {
    overflow: hidden;
}

section {
    box-sizing: content-box;
    border: 1px;
    margin: 10px;
}

.content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.card {
    display: inline;
}

.card {
    border: solid white 1px;
}

.card:nth-child(even) {
    background-color: var(--darkbackground);
    color: var(--lightfont);
}

.card:nth-child(odd) {
    background-color: var(--lightbackground);
    color: var(--darkfont);
}

section>* {
    margin: 20px;
}


section {
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-card {
    float: left;
    width: 25%;
    z-index: 2;
    top: 100px;
    background-color: var(--pagebackground);
}

@media screen and (max-width: 992px) {
    .info-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0%;
    }
}


.info-card>* {
    padding: 40px;
    margin-top: 100px;
}

@media screen and (max-width: 992px) {
    .info-card>* {
        padding: 0px;
        margin: 10px;
    }
}

.info-card h1 {
    font-size: 45px;
}

.info-card h2 {
    font-size: 38px;
}

@media screen and (max-width: 1300px) {
    .info-card h2 {
        font-size: 25px;
    }
}

.info-card img {
    border-radius: 50px;
    width: max-content;
}


@media screen and (max-width: 992px) {
    .info-card img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

div.slideshow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#portfolio>img {
    width: 20%;
}

#portfolio img:hover {
    opacity: .5;
}

#first-project {
    min-width: 200px;
}

#contact a {
    border: solid 1px white;
    padding: 10px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#contact a {
    border: solid 1px white;
    padding: 10px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

#contact a:visited {
    color: black;
}

.container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  .first-project {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }