* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

@media screen and (max-width: 900px) {
    h1 {
      font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
}

header {
    padding: 30px;
    background-color: black ;
    color: white;
    display: inline-block;
    width: 100%;
}

header img {
    float:left;
    height: 50px;
}

header ul {
    float: right;
    display: flex
}

header ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
    color:white;
    font-size: 25x;
}

p {
    font-size: 20px;
    padding: 10px;
}

a {
    color: white;
    text-decoration:none;
    font-size: 30px;
}

a:visited {
    color: white;
}

a:hover {
    color: gainsboro;
}

.main {
    display: flex;
    flex-direction:column;
    overflow:hidden;
}

.info {
    text-align: center;
    min-height: 500px;
}

h1, h2, p {
    margin: 30px;
}

.info img {
    border-radius: 20px;
    margin: 30px;
}

.about {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 500px;
}

.portfolio {
    background-color: white;
    color: black;
    text-align: center;
    min-height: 500px;
}
.contact {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 500px;
}