* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 30px;
    background-color: black ;
    color: white;
    display: inline-block;
    width: 100%;
}

header img {
    float:left;
    height: 50px;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
    color:white;
}

a {
    color: white
}

a:visited {
    color: grey;
}

a:hover {
    color: gainsboro;
}

.main {
    text-align: center;
}

.main h1, .main h2 {
    padding: 20px;
}

.main img {
    border-radius: 20px;
}